 .input__row{
  margin-top: 10px;  
}
/* Radio button */
.radiobtn {
  display: none;
}

.buttons li {
  display: block;
  margin: 0;
}
.buttons li label{
  padding-left: 30px;
  position: relative;
  left: -25px;
}
.buttons li label:hover {
  cursor: pointer;
}
.buttons li span {
  display: inline-block;
  position: relative;
  top: 5px;
  border: 2px solid #ccc;
  width: 18px;
  height: 18px;
  background: #fff;
}
.radiobtn:checked + span::before{
  content: '';
  border: 2px solid #fff;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #c3e3fc;
}

/* Upload button */
.upload {
  display: none;
}
.uploader {
  border: 1px solid #ccc;
  width: 300px;
  position: relative;
  height: 30px;
  display: flex;
}
.uploader .input-value{
  width: 250px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  font-family: sans-serif;
  font-size: 16px;
}
.uploader label {
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  background: #c3e3fc url('https://www.interactius.com/wp-content/uploads/2017/09/folder.png') no-repeat center;
}

/* Submit button */
.submitbtn {
  text-transform: uppercase;
  background-color: #1f659b;
  border-radius: 0;
  font-weight: bold;
  width: 90px;
  border: none;
  height: 30px;
  color: #fff;
}
.submitbtn:hover {
  color: #c3e3fc;
}
.submitbtn:hover + span.form-arrow::before {
  border: 2px solid #c3e3fc;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.form-arrow{
  position: relative;
}
.form-arrow::before{
  content: '';
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  display: block;
  transform: rotate(45deg);
  position: absolute;
  top: 20%;
  right: 10px;
}
.imgportada{
	height:180px;
}
.premium {
    position: absolute;
    width: 37px;
    bottom: 104px;
    background: white;
    border-radius: 50%;
    right: 0px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .hidden-phone{
    display: initial;
  }
  .hidden-tablet{
    display: initial;
  }
  .hidden-desktop{
    display: none;
  }
  .inline-block{
    display: inline-block;
  }
  .col-md-3{
    flex: 0 0 33%;
    max-width: 33%;
  }
  .col-md-9{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-4{
        flex: 0 0 50%;
    max-width: 50%;
  }
}