body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.btn-top-login {
  background:  red;
}

.titulo-header {
  font-size:  16px;
  text-transform: uppercase;
  letter-spacing:  2px;
}

.texto-negro {color: #000000;}

p {  margin: 0; line-height: 1.5;}

.inline-block{
	display: inline-block;
    margin-right: -4px;
    vertical-align: top;
}

.navbar .nav .nav-item .nav-link:hover, .navbar .nav .nav-item .nav-link.active {
    color: #842c20;
    font-family: 'Roboto', sans-serif;
}

.navbar {  background-color: #ececec;}
.background-gray {background-color: #ececec;}
a {color: #2c5477;}
.colorbajo {background: #7d8391;}
.categoria {color: #efaa88;}

#item1 {
  background: #803124;
  background: linear-gradient(to right, #803124 0%, #803124 60%, rgba(128, 49, 36, 0.8) 66%, rgba(128, 49, 36, 0.5) 100%);
}

#item2 {
  background: #162951;
  background: linear-gradient(to right, #162951 0%, #162951 60%, rgba(22, 41, 81, 0.8) 66%, rgba(22, 41, 81, 0.5) 100%);
}

#item3 {
  background: #f6b533;
  background: linear-gradient(to right, #f6b533 0%, #f6b533 60%, rgba(246, 181, 51, 0.8) 66%, rgba(246, 181, 51, 0.5) 100%);
}

#item1 p {font-size: 18px; text-align: justify;}
#item2 p {font-size: 18px; text-align: justify;}
#item3 p {font-size: 18px; text-align: justify;}

.text-dark {color: #262222 }
.text-medium {color:#2c5477;}
.text-light {color: #efaa88;}

.texto-azul-01 {color: #162951;}

.fecha {color: #212529;}

.fecha {
    color: #212529;
    display: block;
    margin-top: 0px;
}

.bamarillo {  background-color: #f6b533;}
.bazul { background-color: #803124;}
.bnegro { background-color: #162951;}

.bnegro:hover {
    background-color: #1e428d;
}

.bamarillo:hover {
    background-color: #c28f28;
}

.empresarial {color: #162951;}

.newsletter button, .contacto button {
    background-color: #2c5477;
    padding: 5px;
    border-radius: 0px;
    font-size: 22px;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.newsletter button:hover, .contacto button:hover {
    background-color: #142b4d;
    cursor: pointer;
}

.categoria {  font-size: 12px;color: #8c0017;}

.iconosociales {
    padding: 6.5px 8px;
    border-radius: 50%;
    margin: 0 3px;
    font-size: 18px;
    color:  #162951;
    box-shadow: -1px 2px 3px 0px #c5c1c1;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.iconosociales:hover {
    color:  #2c5477;
    cursor: pointer;
}

.ingresar2 {
    background: #2c5477;
    color: white;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.ingresar2:hover {
    background: #803124;
    color: white;
}

.fotoperfil {
    width: 30px;
    height: 30px;
}

.navbar .navbar-brand img {max-height: 60px;}

.navbar .nav .nav-item.nav-megadropdown .mega-menu {
    width: 600px;
    padding: 20px;
}

nav ul li a:hover {color: #ed0b31;}
.recientes h2 {color:#162951;}

.contact-footer {font-size: 14px;}

.contacto form input, .contacto form textarea {  border: solid 1px #2c5477;}

.fondoazul {background: #7d8391;}

.profesional {color: #8c0017;}

#opcionesuser li span { font-size: 12px;}

.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
    width: 100%;
    border-radius: 10px 0px 0px 10px;
    padding: 5px;
    float: none;
    font-family: 'Roboto', sans-serif;
}

.logo-footer img {width: 60%;}

.padding20 {
    padding: 30px;
}

.descuento {
    line-height: 45px;
    background: #b7fbb7;
    color: green;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 900;
}

.total {
  font-size: 22px;
  font-weight: 900;
  color: #8c0017;
}

.atras {
    position: inherit;
    margin-top: -20px;
    margin-left: -20px;
    font-size: 20px;
    color: #bfbfbf;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: #ececec solid 1px;
    width: 100%;
}

.uno {
    background: #8c0017;
    padding: 5px 12px;
    border-radius: 100%;
    font-size: 20px;
    color: #ffffff;
    margin-right: 20px;
}

.divmemder {
  -webkit-box-shadow: 0px -1px 20px -5px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px -1px 20px -5px rgba(0,0,0,0.34);
  box-shadow: 0px -1px 20px -5px rgba(0,0,0,0.34);
  display: none;
}

.bazul:hover {
    background-color: #8c0017;
}

.divregistrar {
    width: 40%;
    margin: 0 auto;
    background-color: #162951;
}

.registrar {
    background-color: #ececec;
    -webkit-box-shadow: -2px 0px 15px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 15px -3px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 15px -3px rgba(0,0,0,0.75);
}

.quienes {
    height: 600px;
    width: 150%;
}

h4 {
    font-size: 24px;
    line-height: 1;
}

.premium {
    width: 20px;
}


.divform2 {
    color: #2c5477;
}

.divform input {
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom: 1px solid #2c5477;
}








@media only screen and (min-width : 200px) {
  #item2 h2 {
      font-size: 28px;
      text-align: center;
  }
  .font-40 {font-size: 26px;}
  .newfondo {
      margin: 10px auto;
      padding: 50px 10px;
  }
  .memiz {
      border: solid 1px #c7c7c7;
      margin: 0% 0% 0 0px;
      padding: 20px;
      border-radius: 6px 6px 0px 0px;
  }
  .col-md-1 {
    width: 100%;
  }
  .container-membresias {
    margin-left: 0px;width: 100%;margin-top: 2%;
  }

}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
  #item2 h2 {
      font-size: 35px;
      text-align: left;
  }
  .font-40 {font-size: 40px;}
  .newfondo {
      margin: 100px auto;
      padding: 20px 40px;
  }
  .memiz {
      border: solid 1px #c7c7c7;
      margin: 2% 0% 0 50px;
      padding: 20px;
      border-radius: 6px 6px 0px 0px;
  }
  .container-membresias {
    margin-left: 45px;width: 30%;margin-top: 2%;
  }

}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1200px) {
}
