@media only screen and (min-width: 768px) {
  .hidden-phone{
  	display: initial;
  }
  .hidden-tablet{
  	display: initial;
  }
  .hidden-desktop{
  	display: none;
  }
  .inline-block{
    display: inline-block;
  }
}
@media only screen and (max-width: 1024px) {
 .hidden-desktop{
  	display: initial;
  }
  .hidden-phone{
  	display: initial;
  }
  .hidden-tablet{
  	display: none;
  }
}
@media only screen and (max-width: 767px) {
  .recientes{
  	display: none;
  }
  .quienes{
  	width: 100%;
    background:none;
  }
  .ultimanoticia{
  	width: 100%;
    margin-left: 0;
    bottom: 50px;
  }
  .buscarmovil{
    transition: linear 1s;
    width: 50%;
    opacity: 1;
    float: left!important;
    margin-right: -55px !important;
    margin-left: -10px;
  }
  .iconobuscar2 {
    padding: 0.5px 27px 0.5px 8px;
    margin-left: -26px;
  }
  .centrar-movil{
    text-align: center !important;
  }
  .col-md-2{
  	width: 100%;
  }
  
  .hidden-tablet{
  	display: initial;
  }
  .hidden-desktop{
  	display: initial;
  }
  .hidden-phone{
  	display: none;
  }
  .portada{
  	height: 70vh;
  }
  .sociales{
  	width: 100%;
  }
  .divbuscar{
  	width: 50%;
  	margin-top: 25px;
  }
  .selectbuscar {
    width: 80%;
    margin-right: 0px;
    margin-left: 0px;
}
  .col-md-1{
  	width: 1%;
  }
  .h1{
    font-size: 25px;
  }
  .navbar .nav-toggle-btn {
    top: -87px;
  }
  .navbar .nav.nav-show {
    top: 0;
  }
  .ultimanoticia p{
    text-align: center;
  }
  .sociales{
    text-align: center;
    display: block;
    margin-top: -10px;
  }
  .navbar .navbar-brand{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 0px;
  }
  .navbar{
    margin-top: 50px;
  }
  .categorias .itemimgcategoria {
    width: 100%;
  }
  .container{
    width: 100%;
    padding:0 10px;
  }
  p {
    line-height: 1.5;
    font-size: 13px;
  }
  #item1 p, #item2 p, #item3 p{
    font-size: 13px;
    text-align: center;
    opacity: 1;
  }
  #item1,#item2,#item3{
    position: initial;
    width: 100%;
    background: #803124;
    padding: 10px;
    margin: 3% 0;
  }
  #item2{
    background: #162951;
    }
    #item3{
      background: #f6b533;
    }
    section{
      padding: 0px 10px;
    }
    h2{
      font-size: 30px !important;
      text-align: center;
    }
    .m1, .m2, .m3 {
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
    }
    .newsletter button{
      width: 80%;
    }
    .newsletter button{
      width: 80%;
    }
    .p7{
      padding: 0;
    margin-top: -40px;
    }
    .padding0{
      padding:0px;
    }
    .col-md-5{
      width: 100%;
      padding:0;

    }
    #demo-form {
    padding: 20px;
    box-shadow: none;
  }
  #opcionesuser {
    width: 60%;
  }
  .divregistrar{
    width: 100%;
  }
  .divform label {
    font-size: 24px;
}
.owl-item, .item2 {
    margin: 0;
  }
  .filtro {
    width: 100%;
  }
  .imgportada {
    height: 300px;
  }
  .padre{
    height: 300px;
  }
}